/* Progress container */

h2 {
  font-size: 2rem;
}

img {
  height: 10rem
}

/* CSS LOADER ANIMATION */
.loader {
  width: 3rem;
  height: 3rem;
  border-top: 5px solid #881c1c;
  border-right: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

@keyframes rotation{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* NAVIGATION CIRCLES */
.circle {
  height: 0.5rem;
  width: 0.5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0.1rem;
}

#current-item.circle {
  background-color: #000;
}