/* Progress container */

.wrappist {
  box-shadow: 0px 0px 20px 12px rgba(167, 167, 167, 0.7);
  border-radius: 12px;
  width: 520px;
  height: 520px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
}

.header-text {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

h2 {
  font-size: 2rem;
}

.illustration {
  height: 183px;
  margin-right: auto;
  margin-left: auto;
}

/* CSS LOADER ANIMATION */
.loader {
  margin: 50px auto 50px auto; /*TRBL*/
  width: 3rem;
  height: 3rem;
  border-top: 5px solid #881c1c;
  border-right: 5px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotation 1s linear infinite;
          animation: rotation 1s linear infinite;
}

@keyframes rotation{
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* NAVIGATION CIRCLES */
.circles {
  margin-left: auto;
  margin-right: auto;
  width: 2.9rem;
}

.circle {
  height: 0.5rem;
  width: 0.5rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: inline-block;
  margin: 0.1rem;
}

#current-item.circle {
  background-color: #000;
}