/* Component for navbar */

.options {
    margin: 20px auto auto 50px;
}

.options * {
    display: inline;
    padding: 5px;
    margin: 5px;
}

.option-click {
    border: 2px solid black;
    border-radius: 12px;
}

.options .option-icon {
    height: 30px;
    vertical-align: middle;
}

.options .option-title{
    color: black;
    font-weight: 100;
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;;
}

.options button:hover {
    transition: 0.3s;
    border: 2px solid #881C1C;
    background-color: rgba(136, 28, 28, 0.055);
}