body {
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-image: linear-gradient(to right, rgba(173,0,255,0.5), rgba(255,0,174,0.5));
  margin: none;
  padding: 30px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

form {
  display:flex;
  flex-direction:row;
  border: 2px solid black;
  border-radius: 12px;
  padding-left:10px;
  font-size: 24px;
  width: 400px;
}

input {
  flex-grow:2;
  border:none;
  font-size: 24px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  background: none;
}