body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h2 {
  font-size: 2em;
}

input {
  height: 56px;
  width: 360px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 24px;
  padding-left:10px;
}

button {
  height: 56px;
  border: 2px solid black;
  border-radius: 12px;
  padding-left:10px;
}