#course-details-container.course-details{
    border: 1px solid black;
    width: 375px;
    height: 125px;
    background-color: white;
}

#course-details-container .course-header * {
    display: inline;
}

#course-details-container .course-header h1 {
    font-size:  .9em;
    letter-spacing: 0px;
    margin-left: 15px;
    color: gray;
    vertical-align: middle;
}

#course-details-container .course-header h1 span.num {
    font-weight: bold;
    font-size: 1em;
    color: rgb(100, 100, 100);
}

#course-details-container .course-header h1:first-child {
    letter-spacing: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

#course-details-container .breaker{
    border: .3px solid rgba(0, 0, 0, .2);
    width: 97%;
    border-style: solid !important;
}
#course-details-container .course-body {
    display: flex;
}

#course-details-container.course-details .course-icons {
    display: inline-grid;
    margin-left: 10px;
    margin-right: 10px;
}
#course-details-container.course-details .course-icons img{
    width: 25px;
    height: 25px;
    margin-top: 0px;
    right: 10px;
    padding: 0 2px;
}


#course-details-container .vl{
    display: inline-flex;
    width: 0px;
    border: .3px solid rgba(0, 0, 0, .2);
}

#course-details-container .course-body .course-classes{
    display: inline-grid;
}

#course-details-container .course-body .course-classes *{
    display: inline;
}
#course-details-container .course-classes .col{
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 0 2px;
}

#course-details-container .course-classes .col li{
    padding: 3px 3px 3px 10px;
    font-weight: 100;
    font-size: 1.2em;
}