.course-details{
    border: 1px solid black;
    width: 446px;
    height: 107px;
}

.course-header * {
    display: inline;
}

.course-header h1 {
    font-size:  .9em;
    letter-spacing: 0px;
    margin-left: 15px;
    color: gray;
    vertical-align: middle;
}

.course-header h1 span.num {
    font-weight: bold;
    font-size: 1em;
    color: rgb(100, 100, 100);
}

.course-header h1:first-child {
    letter-spacing: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: black;
}

.breaker{
    border: .3px solid rgba(0, 0, 0, .2);
    width: 97%;
    border-style: solid !important;
}

.course-details .course-body div:not(.course-icons) {
    display: inline;
}

.course-details .course-icons {
    display: inline;
    margin-left: 10px;
    width: 10%;
    position: relative;
    bottom: 3px;
}
.course-details .course-icons img{
    width: 22px;
    display: block;
    height: 22px;
}

.course-body {
    display: inline-flex;
}

.vl{
    position: relative;
    display: inline-block;
    height: 70px;
    width: 0px;
    border: .3px solid rgba(0, 0, 0, .2);
    left: 30px;
    bottom: 4px;
}