/* Component for navbar */

#navbar {
  background-color: #881c1c;
  margin: none;
  padding: 30px;
}


h1 {
  font-size: 2em;
  color: white;
}

h3 {
  color: white;
  font-weight: 100;
  display: inline;
  text-align: center;
}

figure {
  display: inline;
}


#spire-return, #saved-schedules{
  border: 2px solid white;
  border-radius: 12px;
}

img {
  height: 20px;
  display: block;
}

.calendar {
  position: relative;
  top: 7px;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

#spire-return{
  position: absolute;
  right: 35px;
}

#spire-return, #saved-schedules {
  width: 220px;
  height: 50px;
}

#saved-schedules{
  position: absolute;
  right: 280px;
}

.menu div * {
  display: inline;
}


#spire-return img, #saved-schedules img {
  left: 24px;
  position: relative;
  top: 13px;
}

#spire-return h3, #saved-schedules h3{
  position: relative;
  left: 38px;
  top: 11px;
}

.menu div {
  display:inline-block
}

